* {
	box-sizing: border-box;
}

body{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	font-family: cursive;
	background-color: black;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

.container{
	width: 95%;
	max-width: 600px;
	background-color: #18d6c3;
	padding: 10px 0 50px 0 ;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form{
	width: 85%;
	background-color: white;
	margin: 0 auto;
	border: 1px solid gray;
}

.input-container{
	display: flex;
	position: relative;
	padding: 5px 0 5px 10px;
}

#input{
	width: 80%;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: transparent;
	color: black;
	position: relative;
	font-family: inherit;
}

#input::placeholder{
	color: lightgray;
	font-style: italic;
}

.submit{
	height: 37px;
	margin-top: -5px;
	border: none;
	padding: 0 10px;
	border-left: 1px solid gray;
	background-color: darkgreen;
	color: white;
	position: absolute;
	right: 0;
	cursor: pointer;
	font-family: inherit;
}

.submit:hover{
	opacity: 0.7;
}

.list{
	margin: 0;
	padding: 0;
}

p{
	padding: 0;
	margin: 0;
}

.list .item{
	list-style-type: none;
	font-size: 18px;
	padding: 5px 0;
	border-top: 1px solid gray;
	padding-left: 10px;
	position: relative;
}

.list .item .fa-pencil{
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	color: blue;
}

.list .item .fa-save{
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	color: black;
}

.list .item .fa-check-square{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	color: darkorange;
}

.list .item.done{
	text-decoration: line-through;
	color: gray;
}


.list .item.done .fa-check-square{
	opacity: 0.3;
}

.list .item .fa-trash{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: red;
}

.fa{
	cursor: pointer;
}

.fa-pencil:hover{
	opacity: 0.4;
}

.fa-check-square:hover{
	opacity: 0.4;
}

.fa-trash:hover{
	opacity: 0.4;
}


